
body{
    background-color: black;
    overflow-x: hidden;
}

#phot{
    width: 101%;
    border-radius: 40px;
    margin-left: -0.5%;
}
.lin{
    display: flex;
    position: fixed ;
    width: 100%;
    top: -46px;
    height: 100px;
    border-radius: 90px;
    justify-content: center;
    margin-left: -2.5%;
}
.lin ul{
    background-color: black;
    border-radius: 90px;
    width: 100%;
    justify-content: center;
    height: 10rem;
    position: relative;
    align-self: flex-end;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.lin ul li{
    margin-top: 8rem;
    font-size: 5px;
    display: inline-block;
    margin-bottom:10px ;
    height: fit-content;
    padding-top: 5px;
}

.lin ul li:nth-child(1){
    background-color: green;
    border-radius: 7px;
    margin-right: 12px;
    margin-left: 2px;
    padding: 5px;
}
.link{
    color:white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    font-family: arial;
    font-size: 10px;
    text-transform: uppercase; 
}
.link:current{
    background-color: bisque;
}
.link:hover{
    color:red;
}

/*****************************************/
/* .pressed{
    background-color: green;
    border-radius: 7px;
    padding: 5px;
    margin-right: 12px;
    color:white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    font-family: arial;
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase;
} */


.container{
    background-color: white;
    border-radius: 50px ;
    padding-bottom: 10px;
    overflow-x: hidden;

}
.container>*{margin: 0 10px;}
#definition ol ul{padding-left: 7px;}

#flexo{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.number{
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.number a{color: green;}

.mail{
    display: inline-block;
    font-size: 25px;
    text-align: center;
}
#definition{
    margin-left: 5px;
}

/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
/* @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    link {
        font-size: 100;
    }
} */

@media only screen and (min-width:400px){
    .lin{margin-left: -2%;}
}
@media only screen and (min-width:700px){
    .lin ul{width: 60%;}
    .lin ul li a{font-size: 15px;}
}
@media only screen and (min-width:1000px){
    .lin ul{
        /* padding-left: 60px;
        padding-right: 60px;  
        padding-bottom: 5px;*/
        width: 50%;
        justify-content: space-evenly;
    }
    /* .lin ul li a{font-size: 20px;} */
}
@media only screen and (min-width:1500px){

}