
body{
    background-color: black;
}
.container{
    background-color: white;
    border-radius: 50px ;
    padding-bottom: 10px;
}
.container div{margin-left: 10px;}
#phot{
    margin-top: 0px;
    width: 100%;
    border-radius: 40px;
    margin-bottom: 0px;
}
.lin{
    text-align: center;
    margin-top: 0%;
    padding-top: 150px; 
    position: fixed ;
    display: inline-block;
    background-color: black;
    width: 65%;
    margin-left: 16.6% ;
    top: -140px;
    border-radius: 90px;
}
.lin ul li:nth-child(1){
    background-color: green;
    border-radius: 7px;
    padding: 5px;
    margin-right: 12px;
}
.pressed{
    background-color: green;
    border-radius: 7px;
    padding: 5px;
    margin-right: 12px;
    color:white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    font-family: arial;
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase;
}
/* .lin ul:last-child{
    margin-right: 0px;
} */
#header{
    text-align: center;
    font-size: 50px;
    color: yellow;
    border-radius: 20px;
    margin-top: -60px;
    padding-top: 60px;
    background: -moz-linear-gradient(bottom, #0d1c8f 0%, #023af4 100%);
    background: -webkit-linear-gradient(bottom, #0d1c8f 0%, #023af4 100%);
    background: linear-gradient(bottom, #0d1c8f 0%, #0665f3 100%);
}
.lin ul{
    display: inline-block;
    padding-top: 0px;
    margin-top: 0px;
}
.lin li{
    display: inline-block;
    margin-bottom:10px ;
}
.link{
    color:white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    font-family: arial;
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase; 
}
.link:current{
    background-color: bisque;
}
.link:hover{
    color:red;
}
#flexo{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.number{
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.number a{color: green;}

.mail{
    display: inline-block;
    font-size: 25px;
    text-align: center;
}
#definition{
    margin-left: 5px;
}

/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
/* @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    link {
        font-size: 100;
    }
} */

@media screen and (max-width: 3000px) and (min-width: 1200px){
    .link {
        font-size: 100%;
        padding: 4px;
        margin: 10px;
    }
    .lin ul li{
        padding: 5px;
    }
    #phot{
        margin-top: 0px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1000px){
    .link {
        font-size: 90%;
        padding: 3px;
        margin: 10px;
    }
    .lin ul li{
        padding: 4px;
    }
    .lin ul{
        padding-inline-start: 0px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 700px){
    .link {
        font-size: 80%;
        margin: 7px;   
    }
    .lin ul li{
        padding: 3px;
    }
    .lin{
        width: 70%;
        margin-left: 13.7% ;
    }
    .lin ul{
        padding-inline-start: 0px;
        padding-left: 25px;
    }
}
@media screen and (max-width: 700px) and (min-width: 500px){
    .link {
        font-size: 85%;
        padding: 2px;
        margin: 5px;   
        
    }
    .lin ul li{
        padding: 3px;
    }
    .lin{
        width: 75%;
        margin-left: 10.85% ;
    }
}
@media screen and (max-width: 807px) and (min-width: 600px){
    #phot{
        margin-top: 40px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -120px;
        padding: 70px;
    }
}
@media screen and (max-width: 600px) and (min-width: 500px){
    #phot{
        margin-top: 20px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -120px;
        padding: 90px;
    }
}
@media screen and (max-width: 500px) and (min-width: 400px){
    .link {
        font-size: 90%;
        margin: 5px; 
    }
    .lin ul li{
        padding: 3px;
    }
    .lin{
        width: 80%;
        margin-left: 8% ;
    }
    .lin ul li:nth-child(1){
        padding-left: 0px;
    }
    .lin ul{
        padding-inline-start: 0px;
        padding-left: 0px;
    }
    #phot{
        margin-top: 50px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -120px;
        padding: 100px;
    }
}

@media screen and (max-width: 400px) and (min-width: 300px){
    .link {
        font-size: 80%;
        padding: 1px;
        margin: 4px;
    }
    .lin ul li{
        padding: 2px;
    }
    .lin ul{
        padding-inline-start: 0px;
        padding-left: 0px;
    }
    
    .lin ul li:nth-child(1){
        padding-left: 0px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -100px;
        padding: 100px;
    }
}
@media screen and (max-width: 300px) and (min-width: 1px){
    .link {
        padding: 0px;
        margin: 0px;
        margin-left: -6px;
    }
    .lin ul{
        padding-inline-start: 0px;
        padding-left: 0px;
    }
    .lin ul li{
        padding: 1px;
    }
    #phot{
        margin-top: 50px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -120px;
        padding: 120px;
    }
}
@media screen and (max-width: 270px) and (min-width: 250px){
    #phot{
        margin-top: 120px;
        border-radius: 25px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -180px;
        padding: 150px;

    }
}
@media screen and (max-width: 250px) and (min-width: 200px){
    #phot{
        margin-top: 100px;
        border-radius: 25px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -160px;
        padding: 160px;

    }
}
@media screen and (max-width: 200px) and (min-width: 1px){
    #phot{
        margin-top: 100px;
        border-radius: 25px;
    }
    .empty{
        background-color: black;
        border-radius: 40px;
        margin-bottom: -160px;
        padding: 160px;
    }
}